<!DOCTYPE html>
<!--
Template Name:  SmartAdmin Responsive WebApp - Template build with Twitter Bootstrap 4
Version: 4.4.5
Author: Sunnyat Ahmmed
Website: http://gootbootstrap.com
Purchase: https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0
License: You must have a valid license purchased only from wrapbootstrap.com (link above) in order to legally use this theme for your project.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Hire Press - @ViewBag.Title
    </title>
    <meta name="description" content="Hire Press">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    @Html.Partial("_StylesLoading")
</head>
<body class="mod-bg-1 mod-nav-link ">
    @Html.Partial("_ThemeSettings")
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner">
                <!--<div class="page-logo">
                    <a href="javascript:void(0)" class="page-logo-link d-flex align-items-center position-relative">
                        <img src="~/Theme/img/logo.png" alt="Hire Press" aria-roledescription="logo">
                        <span class="page-logo-text mr-1" style="font-weight:400;font-size:1.5rem;">HIRE PRESS</span>
                        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>-->
                        @*<i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>*@
                    <!--</a>
                </div>-->
            <div class="page-content-wrapper">
                @Html.Partial("_Header")
                <!-- BEGIN Page Content -->
                <!-- the #js-page-content id is needed for some plugins to initialize -->
                <main id="js-page-content" role="main" class="page-content">
                    @RenderBody()
                </main>
                <!-- this overlay is activated only when mobile menu is triggered -->
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->

                @Html.Partial("_Footer")

                @Html.Partial("_SettingsModal")
                
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    @Html.Partial("_ScriptLoading")

    @RenderSection("scripts",false)
</body>
</html>

