<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.uideck.com/items/thehunt/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Mar 2021 15:32:44 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>HirePress - @ViewBag.Title</title>
    @Html.Partial("_StylesLoading")
</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")


    <a href="#" class="back-to-top">
        <i class="lni-arrow-up"></i>
    </a>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>

    @Html.Partial("_ScriptLoading")

    @RenderSection("scripts", false)
</body>

<!-- Mirrored from preview.uideck.com/items/thehunt/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Mar 2021 15:33:03 GMT -->
</html>
