@using HirePressCore.Model
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container theme">
    <div class="col-sm-5 m-auto">
        <div class="card border m-auto m-lg-0">
            <div class="card-body">
                <h2 class="text-center color-primary-600">REGISTER</h2>
                <hr />
                <p class="card-text text-center">Fresh start with Hire Press.</p>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    <div class="form-group">
                        <label class="form-label" for="name">First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="name">Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <span>Already a user? </span><a href="@Url.Action("Login", "Account")" class="color-primary-900">Login</a>
                    <button type="submit" class="btn btn-primary float-right color-white">REGISTER</button>
                }
            </div>
        </div>
    </div>
</div>